@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	line-height: 1.6;
	color: #333;
	margin: 15px 20%;
	background-image: url('https://www.teahub.io/photos/full/190-1904475_old-book-old-paper-background-hd.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
