#books {
	position: relative;
	background-color: rgb(213, 224, 197);
	height: 1080px;
	padding: 20px;
	overflow: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: column;
}

.book-image {
	width: 250px;
	height: 400px;
}

.book-item {
	width: 275px;

	figcaption {
		overflow: auto;
	}
}
