#footer {
	padding: 20px;
	height: 60px;
	background-color: transparent;
	background-image: url("https://camo.githubusercontent.com/4d6a2d03d87ac75627a04684b59033c575c3688fbcbd8c7bef0353b947ede8a3/68747470733a2f2f6173736574732e736f6c69646a732e636f6d2f62616e6e65723f70726f6a6563743d4c69627261727926747970653d636f7265");
	background-size: contain;
	background-repeat: no-repeat;
	text-align:center;}