#header {
	display: flex;
	justify-content: space-between;
	height: 60px;
	padding: 15px;
	align-items: center;
}

#header-buttons {
	display: flex;
	width: 10%;
	justify-content: space-between;
	align-items: center;
}
